/* Reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #f9f9f9;
}

/* Header Styling */
.header {
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    padding: 20px 0;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    height: 90px;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Navigation Links */
nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s;
}


/* "Get start" Button */
nav .start {
    background-color:black;
    color:white;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 500;
    transition: background-color 0.3s;
}

/* section */
.hero {
  padding: 80px 20px;
  background-color: #f9fafb;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1 1 500px;
  padding-right: 20px;
}

.hero-text h1 {
  font-size: 2.5rem;
  color: #111827;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1px;
  color: #4b5563;
  margin-bottom: 20px;
}

.hero-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.hero-list li {
  margin-bottom: 10px;
  color: #374151;
  font-size: 1rem;
}

.hero-button {
  background-color: #3b82f6;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.hero-button:hover {
  background-color: #2563eb;
}


.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.contact-form input {
  padding: 15px 20px;
  border: none;
  border-radius: 50px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.contact-form button {
  grid-column: span 2;
  padding: 15px;
  border: none;
  border-radius: 50px;
  background-color: #ff0050;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #e60045;
}
